@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("./assets/image-background.jpg") center/cover;
  color: white;
  font-family: "Arial", sans-serif;
}

/* Custom Scrollbar for Chat List */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}
