@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('./assets/image-background.jpg') center/cover;
  color: white;
  /* Cambia el color de texto según sea necesario */
  font-family: 'Arial', sans-serif;
  /* Cambia la fuente según sea necesario */
}